<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="Setup" value="Yes"/>
		<Parameter name="URL" value="https://uat.finitive.com/"/>
		<Parameter name="UserName" value="testzenq98@gmail.com"/>
		<Parameter name="Password" value="Second@123"/>
		<Parameter name="FinitiveURL" value="https://uat.finitive.com/" />
		<Parameter name="AgentUsername" value="testzenq@123"/>
		<Parameter name="AgentPassword" value="Second@123"/>
		<Parameter name="OAuthClientID" value="551910472172-3mut4hl748t92ce4n6a1p5l1i8ep3p63.apps.googleusercontent.com"/>
		<Parameter name="OAuthClientSecret" value="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"/>
		<Parameter name="OAuthAgentUserName" value="testzenq98@gmail.com"/>
		<Parameter name="OAuthAgentSecretPassword" value="Second@123"/>
		<Parameter name="DevopsProjectURL" value="https://onesourcevirtual.visualstudio.com/"/>
		<Parameter name="DevopsProjectName" value="Finitive"/>
	</TestRunParameters>
</RunSettings>

<!---
<RunSettings>
  <TestRunParameters>
    <Parameter name="Setup" value="Yes"/>
		<Parameter name="URL" value="https://uat.finitive.com/"/>
		<Parameter name="UserName" value="testzenq98@gmail.com"/>
		<Parameter name="Password" value="Second@123"/>
		<Parameter name="FinitiveURL" value="https://uat.finitive.com/" />
		<Parameter name="AgentUsername" value="testzenq@123"/>
		<Parameter name="AgentPassword" value="Second@123"/>
		<Parameter name="OAuthClientID" value="551910472172-3mut4hl748t92ce4n6a1p5l1i8ep3p63.apps.googleusercontent.com"/>
		<Parameter name="OAuthClientSecret" value="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"/>
		<Parameter name="OAuthAgentUserName" value="testzenq98@gmail.com"/>
		<Parameter name="OAuthAgentSecretPassword" value="Second@123"/>
		<Parameter name="DevopsProjectURL" value="https://onesourcevirtual.visualstudio.com/"/>
		<Parameter name="DevopsProjectName" value="Finitive"/> 
  </TestRunParameters>
</RunSettings>
-->